header {
    top: 0;
    width: var(--display-width);
    height: 100px;
    flex-shrink: 0;
    margin: auto;
    background-color: var(--color-background-main);
    border-bottom: 3px solid var(--color-secondary)
}

header > .rect {
    display: grid;
    grid-template-columns: 25% 60% 15%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    top: 0;
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    border-bottom: var(--color-secondary) solid 1px;
}

/* Left header */
header > .rect > .left-cont {
    display: flex;
    grid-column: 1;
    margin-left: 35px;
    width: 200px;
    height: 100px;
    justify-self: flex-start;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.rect > .left-cont > .logotext {
    color: var(--color-primary);
    text-align: center;
    font-family: Noto Serif;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

/* Header center */
.rect > .middle-cont {
    display: flex;
    grid-column: 2;
    width: 600px;
    height: 100px;
    flex-shrink: 0;
    margin-left: -20px;
}

.middle-cont > .wh {
    margin-top: 30px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(9, 20px);
    grid-template-rows: repeat(2, 20px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: fit-content;
}

.wh > .wh-icon {
    grid-area: 1 / 1 / 3 / 3;
    width: 100%;
    height: 100%;
    margin-left: -10px;
}

.wh-place,
.wh-text {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
    margin: 0;
    margin-left: -15px;
}

.wh-text {
    grid-area: 1 / 3 / 2 / 6;

    color: #000;
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.wh-place {
    grid-area: 2 / 3 / 3 / 6;

    color: #000;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.deg {
    display: flex;
    justify-content: right;
    align-items: center;

    grid-area: 1 / 6 / 3 / 8;
    width: 100%;
    height: 100%;
    margin: 0;

    font-size: 25px;
    font-family: "Poppins";

}

.wh > .deg-sign {
    grid-area: 1 / 8 / 3 / 10;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    font-size: 25px;
    font-family: "Poppins";

    border-right: var(--color-secondary) solid 2px;
}

.middle-cont > .date {
    margin-top: 30px;
    margin-left: 15px;
    grid-column: 2;

    display: grid;
    grid-template-columns: 40px 60px repeat(3, 40px) 20px;
    grid-template-rows: repeat(2, 20px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.date > img:first-child {
    grid-area: 1 / 1 / 3 / 2;
    width: 100%;
    height: 100%;
}

.date > .rows {
    grid-area: 1 / 1 / 2 / 2;
}

.date > .rows > * {
    margin: 0;
    padding: 0;

    font-size: 60%;
}

.date > .year {
    display: flex;
    grid-area: 1 / 2 / 3 / 4;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.date > img:nth-last-of-type(1) {
    grid-area: 1 / 4 / 3 / 5;
    height: 100%;
    width: 100%;
}

.date > .time {
    grid-area: 1 / 5 / 3 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

header > .rect > .right-cont {
    grid-column: 3;
} 

/* Right header */
.right-cont > button {
    background-color: var(--color-primary);
    color: var(--color-background);
    width: 125px;
    height: 30px;
    margin: 5px;
    border-radius: 10px;

    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right-cont > button:last-child {
    color: white;
    background-color: var(--color-accent);
}

.right-cont > button {
    cursor: pointer;
    color: white;
}
