header {
    height: 70px;
    border-bottom: 3px solid var(--color-secondary);
}

.header {
    width: var(--display-width);
    height: 70px;
    margin-inline: auto;

    position: relative;
    display: grid;
    grid-template-columns: 200px 1fr 200px 150px;
    grid-template-rows: minmax(0, 1fr);
    justify-content: center;
    align-items: center;
}

/* Logo */
.logo {
    height: 55px;
    margin: 2px;
}

.logo > img {
    height: 100%;
}

.login {
    background-color: var(--color-primary);
    color: var(--color-background);
    cursor: pointer;
    width: 125px;
    line-height: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
    border-radius: 3px;

    font-family: 'Poppins', sans-serif;
}

/* Nav */
nav {
    display: flex;
    justify-content: start;
    column-gap: 20px;
}

nav > * {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 1.25rem;
    cursor: pointer;
}

nav > *:hover {
    filter: brightness(0.5);
}

/* Search */
.search {
    align-self: start;
    z-index: 1;
}

#search-bar {
    color: var(--color-text);
    height: fit-content;
    width: 180px;
    margin-top: 20px;
    padding: .5em;
    background: var(--color-search-bar);
    border-radius: 3px;
    outline: none;
}
#search-bar::placeholder {
    color: var(--color-search-bar-placeholder);
}

#search-results {
    width: 380px;
    padding-left: 0;
    margin-top: 0;
    list-style: none;
    background: var(--color-background);
    border-radius: 3px;
    overflow: hidden;
}

#search-results[aria-hidden="false"] {
    box-shadow: var(--shadow);
}

.result-item {
    overflow: hidden;
    height: 5rem;
    width: 300px;
}

.result-item > a {
    margin: 0;
    height: 100%;
    padding: 0;
    display: flex;
    justify-items: center;
    text-decoration: none;
    position: relative;
}

.result-item > a:hover,
.result-item > a:focus {
    opacity: 0.5;
}

.result-cover {
    height: 100%;
    width: 6rem;
    object-fit: cover;
}

.result-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    margin: 0.2rem 0.5rem 0.6rem;
    color: var(--color-text);
}


/* Footer */
footer {
    background-color: var(--color-primary);
    color: white;
    padding: 20px;
}

.footer-grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.footer-nav a:hover {
    color: var(--color-accent);
}

.copyright,
.powered-by {
    font-size: 20px;
    margin-top: 10px;
}

.disclaimer {
    margin-top: 20px;
}

.news-tip-form {
    display: flex;
    flex-direction: column;
}

.news-tip-form label {
    margin-top: 10px;
}

.news-tip-form input{
    background-color: var(--color-search-bar);
}

.news-tip-form input,
.news-tip-form button {
    margin-top: 5px;
    padding: 8px;
}

.news-tip-form button {
    background-color: var(--color-accent);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.news-tip-form button:hover {
    background-color: #4a6884;
}

.socials {
    display: flex;
    flex-direction: column;
}

.socials-icons {
    display: flex;
    gap: 10px;
}

.socials-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.socials-icons img:hover {
    opacity: 0.8;
}