header {
    height: 70px;
    border-bottom: 3px solid var(--color-secondary);
}

.header {
    width: var(--display-width);
    height: 70px;
    margin-inline: auto;

    position: relative;
    display: grid;
    grid-template-columns: 200px 1fr 200px 150px;
    grid-template-rows: minmax(0, 1fr);
    justify-content: center;
    align-items: center;
}

/* Logo */
.logo {
    height: 55px;
    margin: 2px;
}

.logo > img {
    height: 100%;
}

.login {
    background-color: var(--color-primary);
    color: var(--color-background);
    cursor: pointer;
    width: 125px;
    line-height: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
    border-radius: 3px;

    font-family: 'Poppins', sans-serif;
}

/* Nav */
nav {
    display: flex;
    justify-content: start;
    column-gap: 20px;
}

nav > * {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 1.25rem;
    cursor: pointer;
}

nav > *:hover {
    filter: brightness(0.5);
}

/* Search */
.search {
    align-self: start;
    z-index: 1;
}

#search-bar {
    color: var(--color-text);
    height: fit-content;
    width: 180px;
    margin-top: 20px;
    padding: .5em;
    background: var(--color-search-bar);
    border-radius: 3px;
    outline: none;
}
#search-bar::placeholder {
    color: var(--color-search-bar-placeholder);
}

#search-results {
    width: 450px;
    padding-left: 0;
    margin-top: 0;
    margin-left: -4.5rem;
    list-style: none;
    background: var(--color-secondary);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#search-results[aria-hidden="false"] {
    box-shadow: var(--shadow);
}

.result-item {
    background-color: var(--color-background);
    height: 3.5rem;
    border-radius: 2px;
}

.result-item > a {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.result-item > a:hover,
.result-item > a:focus {
    outline: 2px solid var(--color-primary);
}

.result-cover {
    height: 3rem;
    width: 4rem;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
    margin-left: 4px;
}

.result-title {
    font-size: 14px;
    overflow: hidden;
    text-overflow: clip;
    display: -webkit-box;
    line-height: 1.2em;
    margin-left: 0.5rem;
    color: var(--color-text);
}


/* Footer */
footer {
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
    color: var(--color-text-inverted);
    padding: 20px;
}

.footer-grid {
    width: var(--display-width);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
}

.footer-grid-title {
    font-size: 25px;
    margin-bottom: 10px;
    padding-bottom: 6px;
    border-bottom: 1px solid var(--color-secondary);
    color: var(--color-text-inverted);
}

.footer-nav a {
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
    color: var(--color-secondary);
}

.footer-nav a:hover {
    color: var(--color-accent);
}

.left-grid span {
    display: block;
}

.powered-by {
    font-size: 15px;
    margin-top: 10px;
}

.disclaimer {
    margin-top: 20px;
}

.disclaimer a {
    cursor: pointer;
    text-decoration: underline;
    color: var(--color-text-inverted)
}

.news-tip-form {
    display: flex;
    flex-direction: column;
}

.news-tip-form span {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 8px;
}

.news-tip-form div {
    display: flex;
    flex-direction: column;
}

.news-tip-form label {
    margin-top: 10px;
    display: block;
    color: var(--color-text-inverted);
}

.news-tip-form input,
.news-tip-form textarea {
    display: block;
    color: var(--color-text);
    background-color: var(--color-search-bar);
    font-family: 'Poppins';
}

.news-tip-form input::placeholder {
    font-style: italic;
}

.news-tip-form input,
.news-tip-form button,
.news-tip-form textarea {
    margin-top: 5px;
    padding: 8px;
    border-radius: 2px;
}

.news-tip-form button {
    background-color: var(--color-secondary);
    color: var(--color-text);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.news-tip-form button:hover {
    filter: brightness(0.8);
}

.socials {
    display: flex;
    flex-direction: column;
}

.socials-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socials-icons a {
    cursor: pointer;
}

.icon {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.icon > a {
    color: var(--color-text-inverted);
}

.socials-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

:root[data-theme="light"] .socials-icons img {
    filter: invert(1);
}

.socials-icons a {
    text-decoration: none;
}

.socials-icons .icon:hover img {
    opacity: 0.8;
}