@import url('https://fonts.googleapis.com/css?family=Noto Serif:700|Poppins:400');

:root {
    /* Theme colors */
    --color-text: #050a0f;
    --color-background: #fafcff;
    --color-primary: #366cab;
    --color-secondary: #b6cce7;
    --color-accent: #3c6090;
}

body {
    background-color: var(--color-background);
    font-family: 'Poppins';
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Noto Serif';
    font-weight: 700;
}

/* Font sizes */
html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

/*------------------------------------------------------------------------------------------Header--------------------------------------------------------------------------------------------*/
header {
    top: 0;
    margin: auto;
    width: 1040px;
    height: 100px;
    flex-shrink: 0;
}

header > .rect{
    top: 0;
    width: 1040px;
    height: 100px;
    flex-shrink: 0;
    border-bottom: black solid 1px;
}

/*---left part of the header ---*/
header > .rect > .left-cont{
    display: flex;
    margin-left: 35px;
    width: 200px;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.rect > .left-cont > .logotext{
    color: var(--color-primary);
    text-align: center;
    font-family: Noto Serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*---center part of the header---*/
.rect > .top-cont{
    width: 600px;
    height: 45px;
    flex-shrink: 0;
    background-color: var(--color-secondary);
    position: absolute;
    margin-left: 267px;
    top: 0;
}
.top-cont > .whether{
    width: 135px;
    height: 37px;
    flex-shrink: 0;
}


/*-------------------------------------------------------------------------------------------Main-----------------------------------------------------------------------------------------*/

main {
    
}

.news-list {

}

.newsitem {
    position: relative;
}

.newsitem > a {
    text-decoration: none;
    color: var(--color-text)
}

/* Banner newsitem */
.newsitem-large {
}

/* Average size newsitem */
.newsitem-medium {

}

/* Compact newsitem */
.newsitem-small {

}

.newsitem-cover {

}

.newsitem-title {
    color: var(--color-primary);
    text-decoration: none;
}
.newsitem:hover .newsitem-title {
    text-decoration: underline;
}

.newsitem-paragraph {

}

.newsitem-date {
    position: absolute;
    padding: 8px;
    right: 0;
    bottom: 0;
}