@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root[data-theme="light"] {
    --color-text: #050a0f;
    --color-background: #fafcff;
    --color-primary: #366cab;
    --color-secondary: #b6cce7;
    --color-accent: #3c6090;
    --color-search-bar: #eaecef;
    --color-search-bar-placeholder: #757575;
    --shadow: 0px 2px 10px -1px rgba(0, 10, 30, 0.15);
}
:root[data-theme="dark"] {
    --color-text: #f0f5fa;
    --color-background: #012;
    --color-primary: #548bc9;
    --color-secondary: #182e49;
    --color-accent: #6f93c3;
    --color-search-bar: #20283a;
    --color-search-bar-placeholder: #626570;
    --shadow: 0px 2px 6px 2px rgba(5, 2, 0, 0.5);
}
:root{
    --display-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    transition: .2s ease;
    font-family: 'Poppins';
    font-weight: 400;
    color: var(--color-text);
    background-color: var(--color-background);
}

h1, h2, h3, h4, h5 {
    font-family: 'Noto Serif';
    font-weight: 700;
}

html{
    font-size: 100%;
} /* 16px */

h1{
    font-size: 4.210rem; /* 67.36px */
}

h2{
    font-size: 3.158rem; /* 50.56px */
}

h3{
    font-size: 2.369rem; /* 37.92px */
}

h4{
    font-size: 1.777rem; /* 28.48px */
}

h5{
    font-size: 1.333rem; /* 21.28px */
}

small{
    font-size: 0.750rem; /* 12px */
}

/* Scrollbar */
body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: white;
}
body::-webkit-scrollbar{
    width: 10px;
	background-color: var(--color-secondary);
}
body::-webkit-scrollbar-thumb{
    background-color: var(--color-primary);
    border-radius: 1px;
}

/* Theme toggle */
#toggle-theme {
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 1000;
    left: 20px;
    bottom: 20px;
    opacity: 1;
    background-color: var(--color-secondary);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
}
:root[data-theme="dark"] #toggle-theme:focus{
    outline: 1px solid var(--color-accent);
}
:root[data-theme="light"] #toggle-theme:focus{
    outline: 1px solid var(--color-accent);
}

.theme-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    aspect-ratio: 1;
    width: 50px;
    filter: invert(37%) sepia(92%) saturate(377%) hue-rotate(172deg) brightness(89%) contrast(95%);
    transform: translate(-50%, -50%);
    margin: 0;
}

.theme-icon.dark{
    position: absolute;
    width: 35px;
}

#toggle-theme .dark {
    display: none;
}

:root[data-theme="dark"] #toggle-theme .dark {
    display: initial;
}

:root[data-theme="dark"] #toggle-theme .light {
    display: none;  
}