article {
    display: flex;
    width: 70%;
    flex-direction: column;
    margin: 32px auto;
    padding: 20px;
    background-color: var(--color-background);
    box-shadow: var(--shadow);
    border-radius: 3px;
}

#cover-image {
    width: 100%;
    border-radius: 1.5px;
    aspect-ratio: 2;
    object-fit: cover;
}

#title {
    color: var(--color-primary);
    font-size: 200%;
    margin: 10px 0;
    padding-bottom: .5rem;
    border-bottom: 2px solid var(--color-accent);
}

article p {
    margin: 10px 0;
    line-height: 1.6;
}

.published,
.author {
    font-family: "Poppins";
    font-size: 14px;
    margin-top: 20px;
}
.author{
    font-style: italic;
}

.published-time {
    font-weight: bold;
}
